.main {
    margin-top: 5rem;
}

.card {
    width: 20rem;
    height: 18rem;
    margin-right: 1rem;
    box-shadow: 1rem;
}

#carto {
    border: 2rem;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}