/* .card {
    margin: 0 auto;
    float: none;
    border-width: 2px;
}

.container {
    margin-top: 2.5rem;
}

#title {
    width: 200px;
    border: none;
    font-size: larger;
    font-weight: bold;
}

#newTask {
    width: 200px;
}

#add {
    margin-top: 1rem;
}

#newTask {
    margin-top: 1rem;
}

#plus {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#nd {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#check {
    margin-left: 20px;
    height: 15px;
    width: 15px;
    margin-right: 10px;
} */

#title {
    width: 200px;
    border: none;
    font-size: larger;
    font-weight: bold;
}

#add {
    margin-top: 1rem;
    margin-left: 1rem;
}

#newTask {
    margin-top: 1rem;
    width: 22rem;
}

#plus {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#nd {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#check {
    margin-left: 20px;
    height: 15px;
    width: 15px;
    margin-right: 10px;
}